@{
    ViewBag.Title = "About";
    ViewBag.BannerImg = "banner_about.jpg";
    ViewBag.inAbout = true;
}

<main class="main">
    <section class="group--color">
        <div class="container">
            <h2 class="main__title">Nuestro Team</h2>
            <p class="main_txt">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, repudiandae ea optio eligendi aut odio.
            </p>
        </div>
    </section>
    <section class="group our-team">
        <h2 class="group__title">Los Chefs</h2>
        <div class="container container--flex">
            <div class="column column--33">
                <h3 class="our-team__title">Javier</h3>
                <img src="@Url.Content("/Content/img/chef1.jpg")" alt="" class="our-team__img">
                <p class="our-team__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem quidem ratione facere facilis aut magni atque asperiores molestiae, qui quos ipsa consectetur blanditiis quia, deleniti unde est repudiandae sint veniam.</p>
            </div>
            <div class="column column--33">
                <h3 class="our-team__title">Marta</h3>
                <img src="@Url.Content("/Content/img/chef2.jpg")" alt="" class="our-team__img">
                <p class="our-team__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quas sit facilis. Ea similique tenetur necessitatibus doloribus repellendus, nesciunt possimus iure, vero, aspernatur blanditiis neque. Earum sint, reprehenderit recusandae ea!</p>
            </div>
            <div class="column column--33">
                <h3 class="our-team__title">Ricardo</h3>
                <img src="@Url.Content("/Content/img/chef3.jpg")" alt="" class="our-team__img">
                <p class="our-team__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, at delectus tempora alias velit facilis eius debitis cupiditate molestias reiciendis. Quam voluptatibus nostrum sapiente blanditiis non commodi aperiam minima accusamus!</p>
            </div>
        </div>
    </section>

</main>
